@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rock+Salt&display=swap');

:root {
    --primary-color: #9DCBBA;
    --secondary-color: #002400;
    --accent1-color: #19647E;
    --accent2-color: #492C1D;

    --heading-font: 'Rock Salt';
    --paragraph-font: 'Montserrat';

    --nav-background-color: #002400;
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #4d4d5e;
    --nav-hover-background-color: #e2e2e2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    text-align: center;
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
    font-family: var(--paragraph-font);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

header img {
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 100%;
}

.navigation a {
	display: block;
	padding: 15px;
    text-decoration: none;
    justify-content: space-evenly;
    text-align: center;
    background-color: var(--nav-background-color);
    border: .5px #ffffff solid;
}

.navigation a:link { 
    color: var(--nav-link-color);
}

a:link {
    color: var(--accent1-color);
}

a:hover { 
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

a:visited {
    color: #323236;
}

.navigation a:visited {
    color: #ffffff;
}

p {
    padding: 25px;
    font-family: var(--paragraph-font);
}

.hero, .home {
    position: relative;
}

.hero img, .home img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1, .home h1 {
    position: absolute;
    top: 25px;
    color: #ffffff;
    background-color: #002400CC;
    width: 100%;
}

.hero article, .home article {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #ffffff;
    background-color: #4d4d5edd;
    width: 45%;
    text-align: center;
    font-size: 22px;
}

.hero article img {
    float: right;
    width: 45%;
    padding: 10px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.history img {
    width: 100%;
    padding: 10px;
}

.history p {
    padding: 10px;
    text-align: center;
}

.rapids, .trips {
    display: flex;
    list-style: none;
}

.rapids img {
    width: 190px;
}

figure, .trip {
    flex: 1 1 100%;
    text-align: center;
}

footer {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 100px;
    align-items: center;
}

.sociallinks {
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.sociallinks a {
    width: 30px;
    padding: 2px;
}

.contact-info, .purpose-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;
}

.contact, .purpose {
    display: grid;
    justify-items: center;
}

.map {
    border: 0;
}

figcaption, form label {
    font-family: var(--paragraph-font);
}

form legend {
    font-family: var(--heading-font);
}

form {
    width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #e9e8e8;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .4rem;
    margin: 3px;
    border: 1.5px solid var(--accent2-color);
    padding: 3px;
}

legend {
    color: var(--accent2-color);
    font-size: 20px;
}

input, textarea {
    padding: .5rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

button {
    margin: .8rem;
    background-color: var(--secondary-color);
    color: #fff;
    border: .75px solid var(--primary-color);
    border-radius: .4rem;
    padding: .5rem;
    font-size: 1rem;
}

button:hover {
    background-color: var(--primary-color);
}

.form-item {
    display: grid;
    align-items: center;
    padding-left: 10px;
}

.form-item p {
    padding: 0;
}

.column1 {
    grid-template-columns: 5fr 2fr;
    margin: 7px 0;
}

.column2 {
    grid-template-columns: 1fr 4fr;
    margin: 3px 0;
}

label[for="feedback"] {
    text-align: center;
}

textarea, input {
    margin: 10px;
}

.trip {
    padding: 10px;
}

.trip img {
    width: 280px;
    height: auto;
    padding: 15px;
    flex-wrap: wrap;
}

.text {
    margin: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: var(--paragraph-font);
    margin: 15px;
}

  .titles {
    font-family: var(--heading-font);
    background-color: var(--primary-color);
    color: var(--accent2-color);
}
  
  td, th {
    border: 1px solid #9DCBBA;
    text-align: left;
    padding: 8px;
}
  
  tr:nth-child(odd) {
    background-color: var(--primary-color);
}

.page-link {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    text-align: center;
    margin: 20px;
}